In [1]:
###############String Manipualtion in Python###############
val='a,b,   c'
val.split(',')

['a', 'b', '   c']

In [2]:
pieces=[x.strip() for x in val.split(',')]

In [3]:
print(pieces)

['a', 'b', 'c']

In [4]:
first,second,third=pieces

In [5]:
first+'::'+second+'::'+third

'a::b::c'

In [6]:
'::'.join(pieces)

'a::b::c'

In [7]:
'c' in val

True

In [8]:
val.index('b')

2

In [9]:
val.find(':') #it is returning -1 if it is not found

-1

In [10]:
val.index(':') ##it is throwing an error

ValueError: substring not found

In [11]:
val.replace(',',':')

'a:b:   c'

In [12]:
val.count(',') #it is showing that there are two commas in the string

2

In [13]:
val.replace(',',' ') #it is replacing commas by the spaces

'a b    c'

In [14]:
val.lower() #It will provide the all letters in lowercase

'a,b,   c'

In [15]:
val.upper() #is is giving the all values in the upper values

'A,B,   C'

In [16]:
val.replace(',','').endswith('b   c') #checks if the string is ending with the passing string

True

In [17]:
val.casefold()

'a,b,   c'

In [18]:
val1='1234ABCDE'
val1.casefold()

'1234abcde'

In [19]:
###Regular Expreesion###

In [20]:
Nameage='''Janice is 22 and Theon is 33 Gabriel is 44 and Joey is 21'''
import re
ages = re.findall(r'\d{1,3}',Nameage)
names=re.findall(r'[A-Z][a-z]*',Nameage)
ageDict={}
x=0
for eachname in names:
    ageDict[eachname]=ages[x]
    x+=1
print(ageDict)

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}

In [21]:
##Find A word in regular expression
allinform=re.findall("inform","we need to inform him with the latest information")
for i in allinform:
    print(i)

inform
inform

In [22]:
if re.search("inform","we need to inform him with the latest information"):
    print("x")

x

In [23]:
str="We need to inform him with latest information"
for i in re.finditer("inform",str):
    loctup=i.span() #for inform startin index is 11 and ending index is 17 for information starinig index is 34 and ending index is 40 
    print(loctup)

(11, 17)
(34, 40)

In [24]:
str="sat,hat,mat,pat"
allstr=re.findall("[Shmp]at",str) #because S is not in the string
for i in allstr:
    print(i)

hat
mat
pat

In [25]:
str="sat,hat,mat,pat"
allstr=re.findall("[h-z]at",str) #because S is not in the string  #it will print all the word whose first letter is in the range from h to m
for i in allstr:
    print(i)

sat
hat
mat
pat

In [26]:
##But what if we want those word those are not in this range for this we put the ^ symbol in front of this
str="sat,hat,mat,pat"
allstr=re.findall("[^h-m]at",str) #because S is not in the string  #it will print all the word whose first letter is in the range from h to m
for i in allstr:
    print(i)  #it is printing nothing  #sat and pat are not in the given range

sat
pat

In [27]:
 #########Replace a string
Food='hat rat mat pat'
regex=re.compile("[r]at")  #by using the compile actually we are replacing the rat from that word
Food=regex.sub("food",Food)  #we are replacing that rat with the food
print(Food)

hat food mat pat

In [28]:
#####lets seee the backslassh problems
randstr="here is \\drogba"

In [29]:
print(randstr) #here we can see here is only the one /

here is \drogba

In [30]:
########here we will use the regular expressions
print(re.search(r"\\drogba",randstr))  #now it has solved our problem // appears here now

<re.Match object; span=(8, 15), match='\\drogba'>

In [31]:
#######Match a single character
randstr="12345"
print("matches:",len(re.findall("\d{5}",randstr))) #here we want to match only the 5th character
###If I write only \d then it will match any number those are present but if I write \D then it will be for anything but a number


##for a specific matching then we will use curly braces for this
print("matches:",len(re.findall("\D",randstr)))  #here it is providing the output as 0

matches: 1
matches: 0

In [32]:
randstr='''
keep the blue flag
flying high
Chelsea
'''
print(randstr)

keep the blue flag
flying high
Chelsea

In [33]:
#now what if I want to replace all the newline characters with the white spaces
regex=re.compile("\n")
randstr=regex.sub(" ",randstr)

In [34]:
print(randstr) #here we can see all the new lines characters have been removed with the white spaces

 keep the blue flag flying high Chelsea

In [35]:
#\b:backspace
#\f:formfeed
#\r:carriage return
#\t:tab
#\v:Vertical tab

num = "123 1234 12345 123456 1234567"
print("matches:", len(re.findall("\d{5,7}", num))) #betwween 5 to 7

matches: 3

In [36]:
#######Applications of the regex########
######Phone number verification#########
##\w [a-zA-Z0-9]
##\W[^a-zA-Z0-9]
phn="412-555-1212"
if re.search("\d{3}-\d{3}-\d{4}",phn):
    print("it is a phone number")  #it is printing that is the phone number

it is a phone number

In [37]:
##by \W we can choose the
##Full name is valid oor not
#\s [\f\n\r\t\v]
#\S [^\f\n\r\t\v] #anything apart from these
#whether a valid full name is valid or not
name='''AmanAgarwal'''
if re.search("\w{2,20}\S\w{2,20}",name): #it is printing full name is valied  #\s means all white spaces and \S means non white spaces
    print('valid')

valid

In [38]:
##Verify the email adddresses
email="agrwalaman860@gmail.com md@.com @.com dc@.com @seo.com agrwalaman860@gmail.com"
print("EmailMatches",len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",email)))  #two matches beacuse only one is corect one

EmailMatches 2

In [39]:
###########Vectorized String Functions in pandas#############
import pandas as pd
str1=pd.Series(['Aman Aman'])
str2=pd.Series(['Agarwal'])
str1.str.cat(str2)  #in this we can us ethe cat function  #we are using str.cat because it is the function inside the str

0    Aman AmanAgarwal
dtype: object

In [40]:
import numpy as np
data1={'A':'Aman','B':'Bablu','C':'Chinki','D':'Doraemon','E':'Elight','F':np.nan}

In [41]:
print(data1)

{'A': 'Aman', 'B': 'Bablu', 'C': 'Chinki', 'D': 'Doraemon', 'E': 'Elight', 'F': nan}

In [42]:
z=pd.Series(data1)
print(z)

A        Aman
B       Bablu
C      Chinki
D    Doraemon
E      Elight
F         NaN
dtype: object

In [43]:
z.isnull() #returning the boolean series

A    False
B    False
C    False
D    False
E    False
F     True
dtype: bool

In [44]:
z.str.contains('Aman')  ##If the Aman conatins in the z then there it will be true otherwise it will be false there

A     True
B    False
C    False
D    False
E    False
F      NaN
dtype: object

In [45]:
z.str.cat(pd.Series(data1))  ####we are concating the two values

A            AmanAman
B          BabluBablu
C        ChinkiChinki
D    DoraemonDoraemon
E        ElightElight
F                 NaN
dtype: object

In [46]:
z.str.count('Aman')

A    1.0
B    0.0
C    0.0
D    0.0
E    0.0
F    NaN
dtype: float64

In [47]:
z.str.upper()

A        AMAN
B       BABLU
C      CHINKI
D    DORAEMON
E      ELIGHT
F         NaN
dtype: object

In [48]:
z.str.lower()

A        aman
B       bablu
C      chinki
D    doraemon
E      elight
F         NaN
dtype: object

In [49]:
z.str.endswith('n')  #the A and D are true because it is ending with n

A     True
B    False
C    False
D     True
E    False
F      NaN
dtype: object

In [50]:
z.str.startswith('A')  #the first one is true

A     True
B    False
C    False
D    False
E    False
F      NaN
dtype: object

In [51]:
z.str.get(1)  #returning the first element from each word according to thier index no.

A      m
B      a
C      h
D      o
E      l
F    NaN
dtype: object

In [52]:
z.str.isalnum() #true for all teh values

A    True
B    True
C    True
D    True
E    True
F     NaN
dtype: object

In [53]:
z.str.isalpha()

A    True
B    True
C    True
D    True
E    True
F     NaN
dtype: object

In [54]:
z.str.isdigit()

A    False
B    False
C    False
D    False
E    False
F      NaN
dtype: object

In [55]:
#########Hierarichal Indexing####
data1=pd.DataFrame(np.random.randn(9),index=[['a','b','a','c','a','b','c','a','b'],[1,2,3,4,1,2,4,1,2]])

In [56]:
print(data1)

            0
a 1  0.519680
b 2 -0.174792
a 3  1.576874
c 4 -0.042626
a 1  0.222311
b 2 -1.077923
c 4  1.902045
a 1 -1.197017
b 2 -2.779278

In [57]:

data1

            0
a 1  0.519680
b 2 -0.174792
a 3  1.576874
c 4 -0.042626
a 1  0.222311
b 2 -1.077923
c 4  1.902045
a 1 -1.197017
b 2 -2.779278

In [58]:
data1.index #it is telling about the indexsxes

MultiIndex(levels=[['a', 'b', 'c'], [1, 2, 3, 4]],
           labels=[[0, 1, 0, 2, 0, 1, 2, 0, 1], [0, 1, 2, 3, 0, 1, 3, 0, 1]])

In [59]:
data1.columns

RangeIndex(start=0, stop=1, step=1)

In [60]:
data = pd.Series(np.random.randn(9),
index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [61]:
data

a  1    0.955103
   2   -0.073271
   3   -1.915672
b  1    0.780259
   3    1.177209
c  1    2.335533
   2    1.034675
d  2   -0.540090
   3   -0.424839
dtype: float64

In [62]:


data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [63]:
data['a']

1    0.955103
2   -0.073271
3   -1.915672
dtype: float64

In [64]:
data['b']

1    0.780259
3    1.177209
dtype: float64

In [65]:
data['b':'c']

b  1    0.780259
   3    1.177209
c  1    2.335533
   2    1.034675
dtype: float64

In [66]:
data.loc[['b','d']]

b  1    0.780259
   3    1.177209
d  2   -0.540090
   3   -0.424839
dtype: float64

In [67]:
data.unstack()

          1         2         3
a  0.955103 -0.073271 -1.915672
b  0.780259       NaN  1.177209
c  2.335533  1.034675       NaN
d       NaN -0.540090 -0.424839

In [68]:
data1.stack()

a  1  0    0.519680
b  2  0   -0.174792
a  3  0    1.576874
c  4  0   -0.042626
a  1  0    0.222311
b  2  0   -1.077923
c  4  0    1.902045
a  1  0   -1.197017
b  2  0   -2.779278
dtype: float64

In [69]:
data1.index

MultiIndex(levels=[['a', 'b', 'c'], [1, 2, 3, 4]],
           labels=[[0, 1, 0, 2, 0, 1, 2, 0, 1], [0, 1, 2, 3, 0, 1, 3, 0, 1]])

In [73]:
data[:,2] #selection from the 2nd level indexes

a   -0.073271
c    1.034675
d   -0.540090
dtype: float64

In [77]:
data[:,1]

a    0.955103
b    0.780259
c    2.335533
dtype: float64

In [76]:
data[:,3]  #it will skip the 3rd one

a   -1.915672
b    1.177209
d   -0.424839
dtype: float64

In [80]:
y=data.unstack()
print(y)
#by this first level index will be the proper index and the another index will be the name of the columns

          1         2         3
a  0.955103 -0.073271 -1.915672
b  0.780259       NaN  1.177209
c  2.335533  1.034675       NaN
d       NaN -0.540090 -0.424839

In [81]:
#stack is the reverse operation of the unstack()
y.stack() #again we will get the original result

a  1    0.955103
   2   -0.073271
   3   -1.915672
b  1    0.780259
   3    1.177209
c  1    2.335533
   2    1.034675
d  2   -0.540090
   3   -0.424839
dtype: float64

In [118]:
z=pd.DataFrame(np.arange(12).reshape(4,3),index=[['a','a','b','b'],[1,2,1,2]],columns=[['X','X','Y'],['A','B','C']])

In [119]:
print(z)

     X       Y
     A   B   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [120]:
z.index.names=['key1','key2'] #mow by this we have asssigned the name of the indexes

In [121]:
print(z
     )

           X       Y
           A   B   C
key1 key2
a    1     0   1   2
     2     3   4   5
b    1     6   7   8
     2     9  10  11

In [122]:
z.columns.names=['AMan','Agarwal'] #it works according to the levels because there are the two levels of the indexes then it is working

In [123]:
print(z)

AMan       X       Y
Agarwal    A   B   C
key1 key2
a    1     0   1   2
     2     3   4   5
b    1     6   7   8
     2     9  10  11

In [124]:
z['X']

Agarwal    A   B
key1 key2
a    1     0   1
     2     3   4
b    1     6   7
     2     9  10

In [125]:
z['Y']

Agarwal     C
key1 key2
a    1      2
     2      5
b    1      8
     2     11

In [126]:
#####Reordering and Sorting levels
z.swaplevel('key1','key2')  #here we have swapped the keys key1 and key2 #data will be unaltered

AMan       X       Y
Agarwal    A   B   C
key2 key1
1    a     0   1   2
2    a     3   4   5
1    b     6   7   8
2    b     9  10  11

In [127]:
z.sort_index(level=0) #it will sort according to the key1 all the data will be sorted

AMan       X       Y
Agarwal    A   B   C
key1 key2
a    1     0   1   2
     2     3   4   5
b    1     6   7   8
     2     9  10  11

In [128]:
z.sort_index(level=1) #it will sort according to the key2 all daat will be sorted

AMan       X       Y
Agarwal    A   B   C
key1 key2
a    1     0   1   2
b    1     6   7   8
a    2     3   4   5
b    2     9  10  11

In [129]:
z.swaplevel(0,1).sort_index(level=1)

AMan       X       Y
Agarwal    A   B   C
key2 key1
1    a     0   1   2
2    a     3   4   5
1    b     6   7   8
2    b     9  10  11

In [130]:
L=pd.DataFrame(np.arange(12).reshape(4,3),index=[['a','a','b','b'],[1,2,1,2]],columns=[['A','B','C']])

In [131]:
print(L)

     A   B   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [132]:
L.sort_index(level=0) #level means is basically a key here

     A   B   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [133]:
z.sum(level='key2')  #the sum is accoridng to the key2  it means 1 1 portion is getting add and 2 2 portion is getting add

AMan      X       Y
Agarwal   A   B   C
key2
1         6   8  10
2        12  14  16

In [134]:
z.sum(level='key1')  #sum is according to the key1

AMan      X       Y
Agarwal   A   B   C
key1
a         3   5   7
b        15  17  19

In [136]:
##Indexing with a DataFrames columns###
z1=pd.DataFrame({'a':range(7),'b':range(7,0,-1),'c':['one','one','one','two','two','two','two'],'d':[1,2,3,1,2,3,1]})

In [137]:
print(z1)

   a  b    c  d
0  0  7  one  1
1  1  6  one  2
2  2  5  one  3
3  3  4  two  1
4  4  3  two  2
5  5  2  two  3
6  6  1  two  1

In [138]:
z1.set_index(['c','d']) #here c and d columns has been set as a index

       a  b
c   d
one 1  0  7
    2  1  6
    3  2  5
two 1  3  4
    2  4  3
    3  5  2
    1  6  1

In [142]:
##by default columns are dropped from the DataFrame we can change this
z1.set_index(['c','d'],drop=False) #we can see this this thing below

In [143]:
print(z2)

       a  b    c  d
c   d
one 1  0  7  one  1
    2  1  6  one  2
    3  2  5  one  3
two 1  3  4  two  1
    2  4  3  two  2
    3  5  2  two  3
    1  6  1  two  1

In [145]:
#We can reset this operation also #if the index in the column already exist then it willl throw and error
z2=z1.set_index(['c','d'])
z2.reset_index() #like this

     c  d  a  b
0  one  1  0  7
1  one  2  1  6
2  one  3  2  5
3  two  1  3  4
4  two  2  4  3
5  two  3  5  2
6  two  1  6  1