In [2]:
#data tyoes in python
#None
#numeric
#list
#tuples
#set
#string
#range
#dictionary

In [3]:
#numeric float
#int
#complex
#bool
a=2.5
print(type(a))

<type 'float'>

In [4]:
a=2
print(type(a))

<type 'int'>

In [6]:
a=1+2j
print(type(a))

<type 'complex'>

In [7]:
#bool is just true or false value
a=4
b=5
print(type(a<b))

<type 'bool'>

In [8]:
#Now sequences
#List
#Tuple
#Set
#String
#Range

In [9]:
#Tuple
tup = 4,5,6
print(tup)

(4, 5, 6)

In [11]:
nested_tup = (4,5,6),(7,8)
print(nested_tup)

((4, 5, 6), (7, 8))

In [12]:
#from list
lst=[4,5,3]
print(tuple(lst))

(4, 5, 3)

In [13]:
#from string
str='Aman'
print(tuple(str))

('A', 'm', 'a', 'n')

In [14]:
#from set
s={1,2,3}
print(tuple(s))

(1, 2, 3)

In [15]:
#from dictionary
s1={1:2,3:4}
print(tuple(s1))

(1, 3)

In [16]:
#we cant modify the tuple
tup[0]=1

TypeError: 'tuple' object does not support item assignment

In [17]:
tup1=(1,2,3,4,5)
tup2=('a','d','g','b')
print(tup1+tup2)

(1, 2, 3, 4, 5, 'a', 'd', 'g', 'b')

In [18]:
print(tup1*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [19]:
#unpacking of the tuples
tup=('a','b','c')
x,y=tup
print(x)
print(y)

ValueError: too many values to unpack

In [20]:
x,y,z=tup
print(x,y,z)

('a', 'b', 'c')

In [21]:
#we can swap very easily in python
a=5
b=4
a,b=b,a
print(a,b)

(4, 5)

In [22]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(a,b,c)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [23]:
#if we dont want to unpack all the elements
a,b,*rest=tup
print(a,b)

SyntaxError: invalid syntax (<ipython-input-23-65e186ebac9a>, line 2)

In [24]:
tup=6,6,6,6,7,8,9
print(tup.count(6))

4

In [26]:
#list in python we are working with python2
lis=[1,3,5,6,7]
tup=('a','b','c')
lis1=list(tup)
print(lis1)

['a', 'b', 'c']

In [27]:
lis1[1]='d'
print(lis1)

['a', 'd', 'c']

In [28]:
#adding and removing elements
lis1.append('6')
print(lis1)

['a', 'd', 'c', '6']

In [29]:
lis1.insert(1,'8')#quite expensive than append
print(lis1)

['a', '8', 'd', 'c', '6']

In [30]:
lis1.pop(2)

'd'

In [31]:
print(lis1)

['a', '8', 'c', '6']

In [32]:
#we can remove by the value also
lis1.remove('8')

In [33]:
print(lis1)

['a', 'c', '6']

In [34]:
'a' in lis1

True

In [35]:
'd' in lis1

False

In [36]:
a=[5,6,7]
b=['a','b','c','d']
print(a+b)

[5, 6, 7, 'a', 'b', 'c', 'd']

In [37]:
w=[5,7,8]
w.extend([7,8,(2,3)])
print(w)

[5, 7, 8, 7, 8, (2, 3)]

In [38]:
a=[5,1,8,0,9,2]
a.sort()
print(a)

[0, 1, 2, 5, 8, 9]

In [39]:
b=['saw','small','aman','aga','wal']
b.sort(key=len)
print(b)

['saw', 'aga', 'wal', 'aman', 'small']

In [41]:
#binary search sequence should be sorted
import bisect
a=[1,2,3,4,5]
bisect.bisect(a,8)

5

In [42]:
bisect.insort(a,6)

In [43]:
print(a)

[1, 2, 3, 4, 5, 6]

In [44]:
#slicing in the python start:stop stop-start=number of elements 
seq=[1,3,4,52,1,3,5,6]
seq[1:4]

[3, 4, 52]

In [45]:
#start or stop can be omitted
seq[:4]

[1, 3, 4, 52]

In [46]:
seq[4:]

[1, 3, 5, 6]

In [47]:
#-ve indices the iteration from the reversed side
seq[-1:]

[6]

In [48]:
seq[:-1]

[1, 3, 4, 52, 1, 3, 5]

In [49]:
seq[-4:]

[1, 3, 5, 6]

In [50]:
seq[::-1]#to reverse the sequence last term indices the jumbs basically

[6, 5, 3, 1, 52, 4, 3, 1]

In [51]:
seq[::2]

[1, 4, 1, 5]

In [54]:
lst=['Aman','Agarwal','Ankit','rahul']
mapping ={}
#enumeration
for i,v in enumerate(lst): #i,v is working as a tuples here
    mapping[i]=v
print(mapping)

{0: 'Aman', 1: 'Agarwal', 2: 'Ankit', 3: 'rahul'}

In [56]:
#sorted function resturns the sortes list
lst=[1,2,345,2,123,45,6]
print(sorted(lst))

[1, 2, 2, 6, 45, 123, 345]

In [57]:
print(sorted('Aman Agarwal'))

[' ', 'A', 'A', 'a', 'a', 'a', 'g', 'l', 'm', 'n', 'r', 'w']

In [58]:
#zip function in python
seq1=[1,2,3,1,3,6]
seq2=[1,3,1,4,1]
seq3=zip(seq1,seq2)
print(seq3)

[(1, 1), (2, 3), (3, 1), (1, 4), (3, 1)]

In [60]:
#to iterate over multiple sequence we use zip
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:({1},{2})'.format(i,a,b))

0:(1,1)
1:(2,3)
2:(3,1)
3:(1,4)
4:(3,1)

In [62]:
#unpacking of the zip element
a,b=zip(*seq3)
print(a)
print(b)

(1, 2, 3, 1, 3)
(1, 3, 1, 4, 1)

In [63]:
#dictionary
d={'a':'some','b':[1,2,3,4]}
print(d)

{'a': 'some', 'b': [1, 2, 3, 4]}

In [64]:
d[a]='some value'
print(d)

{'a': 'some', 'b': [1, 2, 3, 4], (1, 2, 3, 1, 3): 'some value'}

In [65]:
#updation of the some value in the dictionary
d['a']='something'
print(d)

{'a': 'something', 'b': [1, 2, 3, 4], (1, 2, 3, 1, 3): 'some value'}

In [67]:
#to check the key is in the dictionary we can use in operator
'b' in d

True

In [68]:
#we can use del to delete some key 
del d['a']

In [69]:
print(d)

{'b': [1, 2, 3, 4], (1, 2, 3, 1, 3): 'some value'}

In [70]:
d.pop('b')

[1, 2, 3, 4]

In [71]:
print(d)

{(1, 2, 3, 1, 3): 'some value'}

In [72]:
d.update({'a':'aman','b':'agarwal'})
print(d)

{'a': 'aman', 'b': 'agarwal', (1, 2, 3, 1, 3): 'some value'}

In [73]:
d.keys()

['a', 'b', (1, 2, 3, 1, 3)]

In [74]:
d.values()

['aman', 'agarwal', 'some value']

In [75]:
#set in the python
a={1,2,2,2,3,4}
print(a)

set([1, 2, 3, 4])

In [76]:
b={1,3,4,5,7}
print(a.union(b))

set([1, 2, 3, 4, 5, 7])

In [77]:
print(a|b)

set([1, 2, 3, 4, 5, 7])

In [78]:
print(a.intersection(b))

set([1, 3, 4])

In [79]:
print(a & b)

set([1, 3, 4])

In [82]:
a.add(9)
print(a)

set([1, 2, 3, 4, 9])

In [88]:
a.pop()

1

In [91]:
a.remove(2)

In [92]:
print(a)

set([3, 4])

In [93]:
a.difference(b)

set()

In [94]:
a.symmetric_difference(b)

{1, 5, 7}

In [95]:
a.issubset(b)

True

In [96]:
a.issuperset(b)

False

In [97]:
a.isdisjoint(b)

False

In [98]:
c=a.copy()
print(c)

set([3, 4])

In [99]:
a.update(b)

In [100]:
print(a)

set([1, 3, 4, 5, 7])

In [101]:
str=['a','ab','abc','bcd']
[x.upper() for x in str if len(x)>2]

['ABC', 'BCD']

In [111]:
#set(map(func,iteable))

In [113]:
mapping={index:value for index,value in enumerate(str)}
print(mapping)

{0: 'a', 1: 'ab', 2: 'abc', 3: 'bcd'}

In [114]:
tup=[(1,2,3),(4,5,6),(7,8,9)]
y=[x for z in tup for x in z]
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
###Functions in python
def area(x,y=0):
    return x+y
c=area(5,6)
print(c)

11

In [117]:
c1=area(5)
print(c1)

5

In [119]:
#global scope
a=[]
def ap():
    for i in range(5):
        a.append(i)
ap()
print(a)

[0, 1, 2, 3, 4]

In [122]:
#local scope
def ap():
    b4=[]
    for i in range(5):
        b4.append(i)
ap()
print(b4) #error because its scope is inside the function

NameError: name 'b4' is not defined

In [123]:
a=[3,4]
def bind_a_variable():
    global a
    a=[1,2]
bind_a_variable()#here scope of the a is global inside the function we are changing it
print(a)

[1, 2]

In [124]:
#returning multiple values
def abc():
    a=3
    b=4
    c=5
    return a,b,c
#in the returning multiple values we are just returning the tuple and at the time of calling we are unpacking that tuple
x,y,z=abc()
print(x)
print(y)
print(z)

3
4
5

In [125]:
m=abc() #m will be tuple
print(m)

(3, 4, 5)

In [126]:
#anonymous function lambda function
def fun(x):
    return x*2
f=fun(2)
print(f)

4

In [127]:
#In python we can write it in the more stylish way which is
f = lambda x : x*2
print(f(2))

4

In [130]:
#selecting even numbers from the list
z=[1,2,3,4,5,6,7,8,9,10]
def funct(z1,f):
    return [f(x) for x in z1]
print(funct(z,lambda x:x%2))

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]